@import "~bootstrap/less/bootstrap.less";
@import "~bootswatch/darkly/variables.less";
@import "~bootswatch/darkly/bootswatch.less";


@background-color: #242e3a;
@card-color:#2f394d;
@content-color:#242e3a;
@text-color:#747379;
@title-color:#eceaf2;


@the-border:1px;
@width:1280px;
@height:720px;


.border-radius(@border:5px){
  border-radius: @border;
}

