@import "./global.less";

body {
  height: 100% !important;

}

.progress {
  height: 5px;
  position: absolute;
  width: 100%;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  width: @width;
  min-width: @width;
  max-width: @width;
  height: @height;
  background-color: @background-color;
  position: relative;
}

header {
  display: flex;
  flex-wrap: nowrap;
  height: 50px;
  .logo {
    color: @title-color;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    font-size: 24px;
    p {
      height: 25px;
    }
  }
  .header-column {
    .border-radius;
    background-color: @card-color;
    width: 100%;
    display: flex;
    align-items: center;

    input {
      color: @text-color;
      margin-left: 20px;
      vertical-align: middle;
      background-color: @content-color;
      width: 50%;
    }
  }
}

main {
  position: relative;
  margin: 10px;
}

#calendar-count {
  .box-shadow;
  background-color: @card-color;
  .border-radius;
  width: 460px;
  height: 240px;
  right: 0;
  top: 0;
  position: absolute;
  padding: 0 2px 0 2px;
  li.active {
    a {
      color: #41d0ab;
      background-color: #222222;
      border: 1px solid #464545;
      border-bottom-color: transparent;
      cursor: default;
    }
  }

  li.active-forever {
    a {
      color: @important-color;
      background-color: #222222;
      border: 1px solid #464545;
      border-bottom-color: transparent;
      cursor: default;
    }
  }

  .dropdown-menu {
    li {
      a {
        color: #fff;
      }
      a.active {
        color: @important-color !important;
      }

    }

    .divider {
      height: 2px !important;
      margin: 0 !important;
      overflow: hidden;
      background-color: #464545;
    }
  }

  #calendar-view {
    height: 204px;
    width: 456px;
  }
  .nav li a {
    padding: 6px 15px !important;
  }

  #calendar-search {
    position: absolute;
    top: 210px;
    padding: 0 10px;
    font-size: 10px;
    margin: 2px 0 0 10px;
  }

}

#daily-entropy-view {
  .box-shadow;
  background-color: @card-color;
  .border-radius;
  width: 780px;;
  height: 492px;


  .resize {
    fill-opacity: .5;
    cursor: move;
    stroke: black;
    stroke-width: 1px;
  }
  .extent {
    fill-opacity: .5;
    fill: @content-color;
    cursor: grab;
    //stroke: black;
    //stroke-width: 1px;
  }

  .e {
    fill: @text-color;
    cursor: move;
  }

  .w {
    fill: @text-color;
    cursor: move;
  }

}

#entropy-distribution {
  .box-shadow;
  background-color: @card-color;
  .border-radius;
  width: 460px;
  height: 240px;
  position: absolute;
  right: 0;
  top: 250px;
  #patch-in-entropy-distribution {
    width: 100px;
    height: 50px;
    position: absolute;
    top: 88px;
    right: 10px;
    background: @card-color;
  }

  #entropy-distribution-search{
    padding: 0 10px;
    font-size: 10px;
    margin: 2px 0 0 10px;
    position: absolute;
    top: 88px;
    right: 10px;
  }

}



.nav-tabs > li > a, .nav-pills > li > a {
  color: @text-color;
}

#parcoord-gap, #parcoord-entropy {
  background-color: @card-color;
  .border-radius;
  margin-top: 10px;
  g.tick text, line {
    fill: @text-color;
    opacity: 0.2;
    font-size: 8px;
  }

  g.axis text {
    fill: @text-color;
    opacity: 0.3;
    font-size: 12px;
  }

  .dimension {
    path.domain {
      stroke: @text-color !important;
      opacity: 0.3;

    }
  }
}

#parcoord-entropy {
  position: absolute;
  top: 492px;
  left: 640px;
}

#selected-student-info{
  overflow:auto;
  background-color: @card-color;
  height:200px;
  margin-top:10px;
  .border-radius;
  text-align: center;
  th{
    text-align: center;
  }
}




